Description
Create a Graph file from TrustSphere data extract
Data formatting
Analyse for:
Edges
Connections
degree centrality
eigenvector centrality
Betweener Centrality
Subgroups
Export to Gephi
Author T.Butler June 10 2020

In [72]:
#import libraries
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
%matplotlib inline

In [73]:
#dir(nx)

In [74]:
#help(nx.edge_betweenness_centrality)

In [80]:
#load the data
df=pd.read_csv('general.csv')

In [81]:
df.dtypes

Remote            object
Local             object
Inbound count     object
Outbound count    object
Created           object
Last inbound      object
Last outbound     object
TrustScore        object
Days ago          object
dtype: object

In [79]:
df['TrustScore'] = df.TrustScore.astype(int)

ValueError: invalid literal for int() with base 10: 'TrustScore'

In [38]:
#show first 10 lines
df.head(10)

,Remote,Local,Type,Inbound count,Outbound count,Created,Last inbound,Last outbound,TrustScore,Monthly inbound,Monthly outbound,Media,Remote domain,Personal inbound count,Personal outbound count,Days ago,Subject
0,addr252@anondomain.non,addr100@anondomain.non,wl,0,2,2020-03-17 08:35:20,2020-03-17 08:35:20,2020-03-17 08:35:20,0,"0,0,0,0,0,0,0,0,0,0,0,0","0,1,1,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,85,NaN
1,addr258@anondomain.non,addr100@anondomain.non,wl,0,1,2020-04-07 11:25:47,2020-04-07 11:25:47,2020-04-07 11:25:47,0,"0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,1,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,64,NaN
2,addr34@anondomain.non,addr100@anondomain.non,wl,2,3,2020-03-26 05:40:20,2020-04-17 05:23:34,2020-03-30 04:26:33,13,"0,1,0,1,0,0,0,0,0,0,0,0","0,0,3,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,54,NaN
3,addr101@anondomain.non,addr101@anondomain.non,wl,0,4,2020-02-28 11:19:15,2020-02-28 11:19:15,2020-03-25 07:13:14,0,"0,0,0,0,0,0,0,0,0,0,0,0","0,1,3,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,77,NaN
4,addr251@anondomain.non,addr102@anondomain.non,wl,0,2,2020-02-20 05:52:24,2020-02-20 05:52:24,2020-04-01 10:56:43,0,"0,0,0,0,0,0,0,0,0,0,0,0","0,1,0,1,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,70,NaN
5,addr10@anondomain.non,addr102@anondomain.non,wl,0,1,2020-04-24 08:05:23,2020-04-24 08:05:23,2020-04-24 08:05:23,0,"0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,1,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,47,NaN
6,addr107@anondomain.non,addr102@anondomain.non,wl,0,1,2020-04-24 08:05:23,2020-04-24 08:05:23,2020-04-24 08:05:23,0,"0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,1,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,47,NaN
7,addr114@anondomain.non,addr102@anondomain.non,wl,0,1,2020-04-24 08:05:23,2020-04-24 08:05:23,2020-04-24 08:05:23,0,"0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,1,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,47,NaN
8,addr119@anondomain.non,addr102@anondomain.non,wl,0,1,2020-04-24 08:05:23,2020-04-24 08:05:23,2020-04-24 08:05:23,0,"0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,1,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,47,NaN
9,addr124@anondomain.non,addr102@anondomain.non,wl,0,1,2020-04-24 08:05:23,2020-04-24 08:05:23,2020-04-24 08:05:23,0,"0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,1,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,47,NaN

In [6]:
#count the number of rows and columns in the data set
df.shape

(16836, 17)

In [7]:
df.describe()

,Remote,Local,Type,Inbound count,Outbound count,Created,Last inbound,Last outbound,TrustScore,Monthly inbound,Monthly outbound,Media,Remote domain,Personal inbound count,Personal outbound count,Days ago,Subject
count,16836,16836,16836,16836,16836,16836,16836,16836,16836,16836,16836,16836,16836,16836,16836,16836,55
unique,295,281,2,107,109,3138,4796,4864,36,1516,1514,2,2,2,2,84,1
top,addr150@anondomain.non,addr150@anondomain.non,wl,1,0,3/19/2020 4:31,4/3/2020 5:38,4/3/2020 5:38,0,"0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,40,Subject
freq,277,290,16781,4737,4696,140,132,133,9006,4435,4696,16781,16781,16781,16781,1278,55

In [26]:
#drop the rows with a TrustScore less than 15
#df.dtypes
#df['TrustScore']=df.TrustScore.astype(int)

#df["TrustScore"]=df["TrustScore"].astype(int)
#dfn = df[df['TrustScore'] > 15] 
#Drop some columns
#df.drop('Monthly Outbound', axis=1, inplace=True)
df

,Remote,Local,Type,Inbound count,Outbound count,Created,Last inbound,Last outbound,TrustScore,Monthly outbound,Media,Remote domain,Personal inbound count,Personal outbound count,Days ago
0,addr100@anondomain.non,addr100@anondomain.non,wl,0,1,3/6/2020 6:32,3/6/2020 6:32,3/6/2020 6:32,0,"0,0,1,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,93
1,addr56@anondomain.non,addr100@anondomain.non,wl,0,4,3/4/2020 10:13,3/4/2020 10:13,3/6/2020 7:09,0,"0,0,4,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,93
2,addr252@anondomain.non,addr100@anondomain.non,wl,0,2,3/17/2020 8:35,3/17/2020 8:35,3/17/2020 8:35,0,"0,1,1,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,82
3,addr258@anondomain.non,addr100@anondomain.non,wl,0,1,4/7/2020 11:25,4/7/2020 11:25,4/7/2020 11:25,0,"0,0,0,1,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,61
4,addr34@anondomain.non,addr100@anondomain.non,wl,2,3,3/26/2020 5:40,4/17/2020 5:23,3/30/2020 4:26,13,"0,0,3,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16831,addr242@anondomain.non,addr99@anondomain.non,wl,1,0,4/3/2020 7:16,4/3/2020 7:16,4/3/2020 7:16,0,"0,0,0,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,65
16832,addr91@anondomain.non,addr99@anondomain.non,wl,1,0,4/6/2020 3:24,4/6/2020 3:24,4/6/2020 3:24,0,"0,0,0,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,62
16833,addr239@anondomain.non,addr99@anondomain.non,wl,2,0,4/15/2020 8:39,4/15/2020 8:39,4/15/2020 8:39,0,"0,0,0,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,53
16834,addr78@anondomain.non,addr99@anondomain.non,wl,1,0,4/17/2020 5:58,4/17/2020 5:58,4/17/2020 5:58,0,"0,0,0,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,51
16835,addr47@anondomain.non,addr99@anondomain.non,wl,2,0,4/28/2020 12:41,4/28/2020 12:41,4/28/2020 12:41,0,"0,0,0,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,40

In [12]:
dfn

,Remote,Local,Type,Inbound count,Outbound count,Created,Last inbound,Last outbound,TrustScore,Monthly inbound,Monthly outbound,Media,Remote domain,Personal inbound count,Personal outbound count,Days ago,Subject
0,addr100@anondomain.non,addr100@anondomain.non,wl,0,1,3/6/2020 6:32,3/6/2020 6:32,3/6/2020 6:32,0,"0,0,0,0,0,0,0,0,0,0,0,0","0,0,1,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,93,NaN
1,addr56@anondomain.non,addr100@anondomain.non,wl,0,4,3/4/2020 10:13,3/4/2020 10:13,3/6/2020 7:09,0,"0,0,0,0,0,0,0,0,0,0,0,0","0,0,4,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,93,NaN
2,addr252@anondomain.non,addr100@anondomain.non,wl,0,2,3/17/2020 8:35,3/17/2020 8:35,3/17/2020 8:35,0,"0,0,0,0,0,0,0,0,0,0,0,0","0,1,1,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,82,NaN
3,addr258@anondomain.non,addr100@anondomain.non,wl,0,1,4/7/2020 11:25,4/7/2020 11:25,4/7/2020 11:25,0,"0,0,0,0,0,0,0,0,0,0,0,0","0,0,0,1,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,61,NaN
4,addr34@anondomain.non,addr100@anondomain.non,wl,2,3,3/26/2020 5:40,4/17/2020 5:23,3/30/2020 4:26,13,"0,1,0,1,0,0,0,0,0,0,0,0","0,0,3,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,51,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16831,addr242@anondomain.non,addr99@anondomain.non,wl,1,0,4/3/2020 7:16,4/3/2020 7:16,4/3/2020 7:16,0,"0,0,0,1,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,65,NaN
16832,addr91@anondomain.non,addr99@anondomain.non,wl,1,0,4/6/2020 3:24,4/6/2020 3:24,4/6/2020 3:24,0,"0,0,0,1,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,62,NaN
16833,addr239@anondomain.non,addr99@anondomain.non,wl,2,0,4/15/2020 8:39,4/15/2020 8:39,4/15/2020 8:39,0,"0,0,0,2,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,53,NaN
16834,addr78@anondomain.non,addr99@anondomain.non,wl,1,0,4/17/2020 5:58,4/17/2020 5:58,4/17/2020 5:58,0,"0,0,0,1,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,51,NaN
16835,addr47@anondomain.non,addr99@anondomain.non,wl,2,0,4/28/2020 12:41,4/28/2020 12:41,4/28/2020 12:41,0,"0,0,1,1,0,0,0,0,0,0,0,0","0,0,0,0,0,0,0,0,0,0,0,0",em,anondomain.non,0,0,40,NaN

In [ ]:
dfn.shape

In [ ]:
#extract Local and Remote columns to build a graph file
df2=(dfn[['Local','Remote']])

In [ ]:
df2.shape

In [ ]:
#extract intergers from email addresses for labels
df3=df2.replace('[^\d+]', '', regex=True).astype(int)
df3

In [ ]:
#Build an edgelist 
G=nx.from_pandas_edgelist(df3,source="Local",target="Remote")

In [ ]:
#check the type
type(G)

In [ ]:
#get Information
nx.info(G)

In [ ]:
#list nodes
G.nodes()

In [ ]:
#count of nodes
len(G.nodes())

In [ ]:
#list all edges /connections
G.edges()

In [ ]:
#Visualize
nx.draw(G,with_labels=True,node_color='g')

In [ ]:
#list general connection
nx.degree(G)

In [ ]:
#degree of one connection
nx.degree(G,102)

In [ ]:
#most influential
#degree centrality
most_influential = nx.degree_centrality(G)
for w in sorted(most_influential, key=most_influential.get,reverse=True):
    print(w,most_influential[w])

In [ ]:
#Most Important connection
#nx.eigenvector_centrality
most_important_link = nx.eigenvector_centrality(G)
for w in sorted(most_important_link, key=most_important_link.get,reverse=True):
    print(w,most_important_link[w])

In [ ]:
#What is the shortest connection between 150 and 170
nx.shortest_path(G,34,33)

In [ ]:
#Betweener Centrality
#Bridge / Connect
best_connector = nx.betweenness_centrality(G)
for w in sorted(best_connector, key=best_connector.get,reverse=True):
    print(w,best_connector[w])

In [ ]:
#Building a subgroup
group1=nx.bfs_tree(G,150)
group2=nx.bfs_tree(G,46)
group3=nx.bfs_tree(G,102)
group4=nx.bfs_tree(G,96)

In [ ]:
nx.draw_networkx(group1)

In [ ]:
nx.draw_networkx(group2)

In [ ]:
nx.draw_networkx(group3)

In [ ]:
nx.draw_networkx(group4)

In [ ]:
# who is the individual connected to
nx.node_connected_component(G,96)

In [ ]:
#output the Graph to Gephi
nx.write_gexf(G, "test.gexf")

In [ ]:
nx.write_gexf(group4, "test4.gexf")

For a good Gephi tutorial see jengolbeck youtube https://www.youtube.com/watch?v=HJ4Hcq3YX4k